h1{
    text-align: center;
    padding: 20px 0 ;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: none;
    
  }

#simluationDiv{
    text-align: center;
    margin: 50px auto 0 auto;
    background: #156dcf;
    width: 50%;
    height: 500px;
}

#simluationDiv p{
    padding: 10px; margin: 0%;
}

#resultTable{
    padding: 20px 20px;
}

#resultTabled{
    height: 100%;
}

#scndResultTable{
}

#simulationDiv{
    background: #c1cce0;
    height: 100%;
}